
html body {
    font-family: 'Prompt', sans-serif;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F5F8FF;
}
.text-pink {
    color: #9b92d3;
}

.img-cover{
    height: 230px;
    object-fit: cover;
    max-width: 100%;
}
.brand-center {
    align-items: center;
    display: flex;
    font-size: 16px;
}
.z-10{
    z-index: 10;
}
input[type=number]{
    width: 60px;
}